a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}
html {
	line-height: 1;
	background: top left #333;
}
ol,
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
td,
th {
	text-align: left;
	font-weight: 400;
	vertical-align: middle;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}
a img {
	border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}
a {
	color: #1863a1;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
a:visited {
	color: #751590;
}
a:focus,
a:hover {
	color: #0181eb;
}
a:active {
	color: #01579f;
}
aside.sidebar a {
	color: #222;
}
aside.sidebar a:focus,
aside.sidebar a:hover {
	color: #0181eb;
}
aside.sidebar a:active {
	color: #01579f;
}
body > div {
	background: top left #f2f2f2;
	border-bottom: 1px solid #bfbfbf;
}
body > div > div {
	background: top left #f8f8f8;
	border-right: 1px solid #e0e0e0;
}
#blog-archives a.category,
#blog-archives time,
#content .blog-index footer,
.sans,
article header p.meta,
article > footer,
aside.sidebar section,
body > footer,
body > header h2 {
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}
.mono,
code,
li code,
p code,
pre,
tt {
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New",
		monospace;
}
body > header h1 {
	font-size: 2.2em;
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
	font-weight: 400;
	line-height: 1.2em;
	display: inline-block;
	margin: 0;
}
h1 {
	font-size: 2.2em;
	line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizelegibility;
	margin-bottom: 1em;
	font-weight: 700;
	margin-top: 1em;
}
h2,
section h1 {
	font-size: 1.5em;
}
h3,
section h2,
section section h1 {
	font-size: 1.3em;
}
h4,
section h3,
section section h2,
section section section h1 {
	font-size: 1em;
}
h5,
section h4,
section section h3 {
	font-size: 0.9em;
}
h6,
section h5,
section section h4,
section section section h3,
small {
	font-size: 0.8em;
}
article blockquote,
ol,
p,
ul {
	margin-bottom: 0.8em;
}
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
	margin-bottom: 0;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-roman;
	margin-bottom: 0;
}
ol,
ol ol,
ol ul,
ul,
ul ol,
ul ul {
	margin-left: 1.3em;
}
ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0;
}
sub,
sup {
	font-size: 0.75em;
	position: relative;
	display: inline-block;
	padding: 0 0.2em;
	line-height: 0.8em;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.5em;
}
a[rev="footnote"] {
	font-size: 0.75em;
	padding: 0 0.3em;
	line-height: 1;
}
article blockquote cite,
dfn,
em,
q {
	font-style: italic;
}
q:before {
	content: "\201C";
}
q:after {
	content: "\201D";
}
dfn,
strong {
	font-weight: 700;
}
del,
s {
	text-decoration: line-through;
}
abbr,
acronym {
	border-bottom: 1px dotted;
	cursor: help;
}
hr {
	margin-bottom: 0.2em;
}
big {
	font-size: 1.2em;
}
article blockquote {
	font-style: italic;
	position: relative;
	font-size: 1em;
	line-height: 1.5em;
	padding-left: 1em;
	border-left: 4px solid rgba(170, 170, 170, 0.5);
}
article blockquote cite a {
	color: #aaa !important;
	word-wrap: break-word;
}
article blockquote cite:before {
	content: "\2014";
	padding-right: 0.3em;
	padding-left: 0.3em;
	color: #aaa;
}
/* @media only screen and (min-width: 992px) {
	article blockquote {
		padding-left: 1.5em;
		border-left-width: 4px;
	}
} */
.pullquote-left:before,
.pullquote-right:before {
	padding: 0;
	border: none;
	content: attr(data-pullquote);
	float: right;
	width: 45%;
	margin: 0.5em 0 1em 1.5em;
	position: relative;
	top: 7px;
	font-size: 1.4em;
	line-height: 1.45em;
}
.pullquote-left:before {
	float: left;
	margin: 0.5em 1.5em 1em 0;
}
.force-wrap,
article a,
aside.sidebar a {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#content:after,
#main:after,
.group:after,
.sidebar:after,
body #content > article:after,
body #content > div > section:after,
body div.pagination:after,
body > footer:after,
body > header:after,
body > nav:after {
	content: "";
	display: table;
	clear: both;
}
body {
	line-height: 1.5em;
	color: #222;
	-webkit-text-size-adjust: none;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	font-size: 110%;
}
body #content > article,
body #content > div > article,
body #content > div > section,
body > footer,
body > header,
body > nav {
	padding-left: 18px;
	padding-right: 18px;
}
/* 屏幕宽度小于480px时会改变，但我觉得没有必要 */
/* @media only screen and (min-width: 480px) {
	body #content > article,
	body #content > div > article,
	body #content > div > section,
	body > footer,
	body > header,
	body > nav {
		padding-left: 25px;
		padding-right: 25px;
	}
} */
@media only screen and (min-width: 768px) {
	body #content > article,
	body #content > div > article,
	body #content > div > section,
	body > footer,
	body > header,
	body > nav {
		padding-left: 35px;
		padding-right: 35px;
	}
}
body div.pagination {
	margin-left: 18px;
	margin-right: 18px;
}
@media only screen and (min-width: 480px) {
	body div.pagination {
		margin-left: 25px;
		margin-right: 25px;
	}
}
@media only screen and (min-width: 768px) {
	body div.pagination {
		margin-left: 35px;
		margin-right: 35px;
	}
}
/* @media only screen and (min-width: 992px) {
	body #content > article,
	body #content > div > article,
	body #content > div > section,
	body > footer,
	body > header,
	body > nav {
		padding-left: 40px;
		padding-right: 40px;
	}
	body div.pagination {
		margin-left: 55px;
		margin-right: 55px;
	}
} */
body > header {
	font-size: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #333;
}
#content {
	overflow: hidden;
}
#content > article,
#content > div {
	width: 100%;
}
aside.sidebar {
	float: none;
	padding: 0 18px 1px;
	background-color: #f7f7f7;
	border-top: 1px solid #e0e0e0;
}
.flex-content,
article .caption-wrapper,
article .flash-video,
article img,
article video,
aside.sidebar img {
	max-width: 100%;
	height: auto;
}
.basic-alignment.left,
article .left.caption-wrapper,
article .left.flash-video,
article img.left,
article video.left,
aside.sidebar img.left {
	float: left;
	margin-right: 1.5em;
}
.basic-alignment.right,
article .right.caption-wrapper,
article .right.flash-video,
article img.right,
article video.right,
aside.sidebar img.right {
	float: right;
	margin-left: 1.5em;
}
.basic-alignment.center,
article .center.caption-wrapper,
article .center.flash-video,
article img.center,
article video.center,
aside.sidebar img.center {
	display: block;
	margin: 0 auto 1.5em;
}
.basic-alignment.left,
.basic-alignment.right,
article .left.caption-wrapper,
article .left.flash-video,
article .right.caption-wrapper,
article .right.flash-video,
article img.left,
article img.right,
article video.left,
article video.right,
aside.sidebar img.left,
aside.sidebar img.right {
	margin-bottom: 0.8em;
}
.no-sidebar .toggle-sidebar,
.toggle-sidebar {
	display: none;
}
body.sidebar-footer #content {
	margin-right: 0;
}
body.sidebar-footer .toggle-sidebar {
	display: none;
}
@media only screen and (min-width: 550px) {
	body > header {
		font-size: 1em;
	}
}
@media only screen and (min-width: 750px) {
	body.sidebar-footer aside.sidebar {
		float: none;
		width: auto;
		clear: left;
		margin: 0;
		padding: 0 35px 1px;
		background-color: #f7f7f7;
		border-top: 1px solid #eaeaea;
	}
	body.sidebar-footer aside.sidebar section.even,
	body.sidebar-footer aside.sidebar section.odd {
		float: left;
		width: 48%;
	}
	body.sidebar-footer aside.sidebar section.odd {
		margin-left: 0;
	}
	body.sidebar-footer aside.sidebar section.even {
		margin-left: 4%;
	}
	body.sidebar-footer aside.sidebar.thirds section {
		width: 30%;
		margin-left: 5%;
	}
	body.sidebar-footer aside.sidebar.thirds section.first {
		margin-left: 0;
		clear: both;
	}
	aside.sidebar {
		float: none;
		width: auto;
		clear: left;
		margin: 0;
		padding: 0 35px 1px;
		background-color: #f7f7f7;
		border-top: 1px solid #eaeaea;
	}
	aside.sidebar section.even,
	aside.sidebar section.odd {
		float: left;
		width: 48%;
	}
	aside.sidebar section.odd {
		margin-left: 0;
	}
	aside.sidebar section.even {
		margin-left: 4%;
	}
	aside.sidebar.thirds section {
		width: 30%;
		margin-left: 5%;
	}
	aside.sidebar.thirds section.first {
		margin-left: 0;
		clear: both;
	}
}
@media only screen and (min-width: 768px) {
	body {
		-webkit-text-size-adjust: auto;
	}
	body > header {
		font-size: 1.2em;
	}
	#main {
		padding: 0;
		margin: 0 auto;
	}
	#content {
		overflow: visible;
		margin-right: 240px;
		position: relative;
	}
	.no-sidebar #content {
		margin-right: 0;
		border-right: 0;
	}
	.collapse-sidebar #content {
		margin-right: 20px;
	}
	#content > article,
	#content > div {
		padding-top: 17.5px;
		padding-bottom: 17.5px;
		float: left;
	}
	aside.sidebar {
		width: 210px;
		padding: 0 15px 15px;
		background: 0 0;
		clear: none;
		float: left;
		margin: 0 -100% 0 0;
	}
	aside.sidebar section {
		width: auto;
		margin-left: 0;
	}
	aside.sidebar section.even,
	aside.sidebar section.odd {
		float: none;
		width: auto;
		margin-left: 0;
	}
	.collapse-sidebar aside.sidebar {
		float: none;
		width: auto;
		clear: left;
		margin: 0;
		padding: 0 35px 1px;
		background-color: #f7f7f7;
		border-top: 1px solid #eaeaea;
	}
	.collapse-sidebar aside.sidebar section.even,
	.collapse-sidebar aside.sidebar section.odd {
		float: left;
		width: 48%;
	}
	.collapse-sidebar aside.sidebar section.odd {
		margin-left: 0;
	}
	.collapse-sidebar aside.sidebar section.even {
		margin-left: 4%;
	}
	.collapse-sidebar aside.sidebar.thirds section {
		width: 30%;
		margin-left: 5%;
	}
	.collapse-sidebar aside.sidebar.thirds section.first {
		margin-left: 0;
		clear: both;
	}
}
/* @media only screen and (min-width: 992px) {
	body > header {
		font-size: 1.3em;
	}
	#content {
		margin-right: 320px;
	}
	#content > article,
	#content > div {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	aside.sidebar {
		width: 280px;
		padding: 0 20px 20px;
	}
	.collapse-sidebar aside.sidebar {
		padding-left: 55px;
		padding-right: 55px;
	}
} */
body > header h1 a,
body > header h1 a:hover,
body > header h1 a:visited {
	color: #f2f2f2;
	text-decoration: none;
}
body > header h2 {
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
	margin: 0.2em 0 0;
	font-size: 1em;
	color: #aaa;
	font-weight: 400;
}
body > nav {
	position: relative;
	background-color: #ccc;
	background: -webkit-gradient(
		linear,
		50% 0,
		50% 100%,
		color-stop(0, #e0e0e0),
		color-stop(50%, #ccc),
		color-stop(100%, #b0b0b0)
	);
	background: -webkit-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: -moz-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: -o-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #8c8c8c;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	-moz-border-radius-topleft: 0.4em;
	border-top-left-radius: 0.4em;
	-moz-border-radius-topright: 0.4em;
	border-top-right-radius: 0.4em;
}
body > nav form {
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	margin: 0;
	padding: 0;
}
body > nav form .search {
	padding: 0.3em 0.5em 0;
	font-size: 0.85em;
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
	line-height: 1.6em;
	width: 95%;
	background-clip: padding-box;
	color: #888;
	width: 100%;
	color: #49525c;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
		0 1px 0 rgba(255, 255, 255, 0.1);
	outline: 0;
	box-sizing: border-box;
}
body > nav form .search:focus {
	color: #444;
	border-color: #5791c7;
	-webkit-box-shadow: #6eb9ff 0 0 4px, #6eb9ff 0 0 3px inset;
	-moz-box-shadow: #6eb9ff 0 0 4px, #6eb9ff 0 0 3px inset;
	box-shadow: #6eb9ff 0 0 4px, #6eb9ff 0 0 3px inset;
	background-color: #fff;
	outline: 0;
}
body > nav fieldset[role="search"] {
	float: right;
	width: 48%;
}
body > nav fieldset.mobile-nav {
	float: left;
	width: 48%;
}
body > nav fieldset.mobile-nav select {
	width: 100%;
	font-size: 0.9em;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
		0 1px 0 rgba(255, 255, 255, 0.1);
	background: white;
	color: black;
	height: 1.9rem;
}
body > nav ul {
	display: none;
}
@media only screen and (min-width: 550px) {
	body > nav {
		font-size: 0.9em;
	}
	body > nav ul {
		margin: 0;
		padding: 0.15em 0 0;
		border: 0;
		overflow: hidden;
		float: left;
		display: block;
	}
	body > nav ul li {
		list-style-image: none;
		list-style-type: none;
		white-space: nowrap;
		display: inline;
		float: left;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
	body > nav ul li.first,
	body > nav ul li:first-child {
		padding-left: 0;
	}
	body > nav ul li.last,
	body > nav ul li:last-child {
		padding-right: 0;
	}
	body > nav ul.subscription {
		margin-left: 0.8em;
		float: right;
	}
	body > nav ul.subscription li:last-child a {
		padding-right: 0;
	}
	body > nav a {
		color: #6b6b6b;
		font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
		text-shadow: #ebebeb 0 1px;
		float: left;
		text-decoration: none;
		font-size: 1.1em;
		padding: 0.1em 0;
		line-height: 1.5em;
	}
	body > nav a:visited {
		color: #6b6b6b;
	}
	body > nav a:hover {
		color: #2b2b2b;
	}
	body > nav li + li {
		border-left: 1px solid #b0b0b0;
		margin-left: 0.8em;
	}
	body > nav li + li a {
		padding-left: 0.8em;
		border-left: 1px solid #dedede;
	}
	body > nav form {
		float: right;
		text-align: left;
		padding-left: 0.8em;
		width: 175px;
	}
	body > nav form .search {
		width: 93%;
		font-size: 0.95em;
		line-height: 1.6em;
	}
	body > nav ul[data-subscription$="email"] + form {
		width: 97px;
	}
	body > nav ul[data-subscription$="email"] + form .search {
		width: 91%;
	}
	body > nav fieldset.mobile-nav {
		display: none;
	}
	body > nav fieldset[role="search"] {
		width: 99%;
	}
	.maskImage body > nav ul[data-subscription$="email"] + form {
		width: 123px;
	}
}
.no-placeholder body > nav .search {
	background: 0.3em 0.25em no-repeat #f2f2f2;
	text-indent: 1.3em;
}
/* @media only screen and (min-width: 992px) {
	body > nav form {
		width: 215px;
	}
	body > nav ul[data-subscription$="email"] + form {
		width: 147px;
	}
	.maskImage body > nav ul[data-subscription$="email"] + form {
		width: 173px;
	}
} */
.maskImage ul.subscription {
	position: relative;
	top: 0.2em;
}
.maskImage ul.subscription a,
.maskImage ul.subscription li {
	border: 0;
	padding: 0;
}
.maskImage a[rel="subscribe-rss"] {
	position: relative;
	top: 0;
	text-indent: -999999em;
	background-color: #dedede;
	border: 0;
	padding: 0;
}
.maskImage a[rel="subscribe-rss"],
.maskImage a[rel="subscribe-rss"]:after {
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: 22px;
	height: 22px;
}
.maskImage a[rel="subscribe-rss"]:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	background-color: #ababab;
}
.maskImage a[rel="subscribe-rss"]:hover:after {
	background-color: #9e9e9e;
}
.maskImage a[rel="subscribe-email"] {
	position: relative;
	top: 0;
	text-indent: -999999em;
	background-color: #dedede;
	border: 0;
	padding: 0;
}
.maskImage a[rel="subscribe-email"],
.maskImage a[rel="subscribe-email"]:after {
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	-ms-mask-repeat: no-repeat;
	-o-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: 28px;
	height: 22px;
}
.maskImage a[rel="subscribe-email"]:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	background-color: #ababab;
}
.maskImage a[rel="subscribe-email"]:hover:after {
	background-color: #9e9e9e;
}
article {
	padding-top: 1em;
}
article header {
	position: relative;
	padding-bottom: 1em;
	margin-bottom: 1em;
}
article header h1 {
	margin: 0.15em 0 0;
}
article header h1 a {
	text-decoration: none;
}
article header h1 a:hover {
	text-decoration: underline;
}
article header p {
	font-size: 0.9em;
	color: #aaa;
	margin: 0;
}
article header p.meta {
	text-transform: uppercase;
	top: 0;
}
@media only screen and (min-width: 768px) {
	article header {
		margin-bottom: 1.5em;
		padding-bottom: 1em;
	}
}
.entry-content article h2:first-child,
article header + h2 {
	padding-top: 0;
}
article h2:first-child,
article header + h2 {
	background: 0 0;
}
article .feature {
	padding-top: 0.5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	font-size: 2em;
	font-style: italic;
	line-height: 1.3em;
}
article .caption-wrapper,
article .flash-video,
article img,
article video {
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.5em solid #fff;
}
article .caption-wrapper.caption,
article .flash-video.caption,
article img.caption,
article video.caption {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0;
	-ms-border-radius: 0px;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
	box-shadow: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
}
article .caption-wrapper {
	display: inline-block;
	margin-bottom: 1em;
}
article .caption-wrapper .caption-text {
	background: #fff;
	text-align: center;
	font-size: 0.8em;
	color: #666;
	display: block;
}
article .flash-video,
article video {
	margin: 0 auto 1.5em;
}
article video {
	display: block;
	width: 100%;
}
article .flash-video > div {
	position: relative;
	display: block;
	padding-bottom: 56.25%;
	padding-top: 1px;
	height: 0;
	overflow: hidden;
}
article .flash-video > div embed,
article .flash-video > div iframe,
article .flash-video > div object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
article > footer {
	padding-bottom: 0.3em;
	margin-top: 0.3em;
}
article > footer p.meta {
	margin-bottom: 0.8em;
	font-size: 0.85em;
	clear: both;
	overflow: hidden;
}
#content .blog-index {
	padding-top: 0;
	padding-bottom: 0;
}
#content .blog-index article {
	padding-top: 2em;
	font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}
#content .blog-index article header {
	background: 0 0;
	padding-bottom: 0;
}
#content .blog-index article h1 {
	font-size: 2.2em;
}
#content .blog-index article h1 a {
	color: inherit;
}
#content .blog-index article h1 a:hover {
	color: #0181eb;
}
#content .blog-index a[rel="full-article"] {
	background: #ebebeb;
	display: inline-block;
	padding: 0.4em 0.8em;
	margin-right: 0.5em;
	text-decoration: none;
	color: #666;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
#content .blog-index a[rel="full-article"]:hover {
	background: #0181eb;
	text-shadow: none;
	color: #f8f8f8;
}
#content .blog-index footer {
	margin-top: 1em;
}
.separator,
article > footer .byline + time:before,
article > footer .byline ~ .categories:before,
article > footer .comments:before,
article > footer time + time:before {
	content: "\2022 ";
	padding: 0 0.4em 0 0.2em;
	display: inline-block;
}
#content div.pagination {
	text-align: center;
	font-size: 0.95em;
	position: relative;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
#content div.pagination a {
	text-decoration: none;
	color: #000;
	padding-left: 0.4em;
}
#content div.pagination a:hover {
	color: #0181eb;
}
p.meta + .sharing {
	padding-top: 1em;
	padding-left: 0;
}
#fb-root {
	display: none;
}
pre {
	background: top left #002b36;
	-webkit-border-radius: 0em;
	-moz-border-radius: 0;
	-ms-border-radius: 0em;
	-o-border-radius: 0;
	border-radius: 0;
	line-height: 1.45em;
	margin-bottom: 0.8em;
	padding: 0;
	color: #93a1a1;
	font-size: 80%;
}
h3.filename + pre {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0;
}
li code,
p code {
	display: inline-block;
	white-space: no-wrap;
	background: #fff;
	font-size: 0.8em;
	line-height: 1.5em;
	color: #555;
	border: 1px solid #ddd;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	border-radius: 0.4em;
	padding: 0 0.3em;
	margin: -1px 0;
}
li pre code,
p pre code {
	font-size: 1em !important;
	background: 0 0;
	border: none;
	color: #93a1a1;
}
div.highlight > pre > code,
pre > code {
	overflow-y: hidden;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
div.linenodiv > pre > code,
td > div.highlight > pre > code {
	overflow: scroll;
	overflow-y: hidden;
	display: inline;
}
.gist-highlighttable::-webkit-scrollbar,
.highlighttable::-webkit-scrollbar,
pre::-webkit-scrollbar {
	height: 0.5em;
	background: rgba(255, 255, 255, 0.15);
}
.gist-highlighttable::-webkit-scrollbar-thumb:horizontal,
.highlighttable::-webkit-scrollbar-thumb:horizontal,
pre::-webkit-scrollbar-thumb:horizontal {
	background: rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
figure.code {
	background: 0 0;
	padding: 0;
	border: 0;
	margin-bottom: 0.8em;
}
figure.code pre {
	margin-bottom: 0;
}
figure.code figcaption {
	position: relative;
}
figure.code .highlighttable {
	margin-bottom: 0;
	table-layout: fixed;
	width: 100%;
}
.code-title,
figure.code figcaption,
h3.filename {
	text-align: center;
	line-height: 2em;
	text-shadow: #cbcccc 0 1px 0;
	color: #474747;
	font-weight: 400;
	margin-bottom: 0;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	background: top repeat-x #aaa;
	border: 1px solid #565656;
	border-top-color: #cbcbcb;
	border-left-color: #a5a5a5;
	border-right-color: #a5a5a5;
	border-bottom: 0;
	font-size: 90%;
}
.download-source,
figure.code figcaption a {
	position: absolute;
	right: 0.8em;
	text-decoration: none;
	color: #666 !important;
	z-index: 1;
	font-size: 13px;
	text-shadow: #cbcccc 0 1px 0;
	padding-left: 3em;
}
.download-source:hover,
figure.code figcaption a:hover {
	text-decoration: underline;
}
#archive #content > div,
#archive #content > div > article {
	padding-top: 0;
}
#blog-archives,
#blog-archives a.category,
#blog-archives time {
	color: #aaa;
}
#blog-archives article {
	padding: 1em 0;
	position: relative;
}
#blog-archives article:last-child {
	background: 0 0;
}
#blog-archives article footer {
	padding: 0;
	margin: 0;
}
#blog-archives h1 {
	color: #222;
	margin-bottom: 0.3em;
	font-size: 1.5em;
}
#blog-archives h2 {
	display: none;
}
#blog-archives h1 a {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
	display: inline-block;
}
#blog-archives h1 a:hover {
	text-decoration: underline;
	color: #0181eb;
}
#blog-archives .entry-content {
	display: none;
}
#blog-archives time {
	font-size: 0.9em;
	line-height: 1.2em;
}
#blog-archives time .day,
#blog-archives time .month {
	display: inline-block;
}
#blog-archives time .month {
	text-transform: uppercase;
}
#blog-archives p {
	margin-bottom: 1em;
}
#blog-archives .entry-content a,
#blog-archives a {
	color: inherit;
}
#blog-archives .entry-content a:hover,
#blog-archives a:hover {
	color: #0181eb;
}
@media only screen and (min-width: 550px) {
	#blog-archives article {
		margin-left: 5em;
		padding-left: 4.5em;
		padding-bottom: 0.7em;
	}
	#blog-archives h2 {
		margin-bottom: 0.3em;
		font-weight: 400;
		display: inline-block;
		position: relative;
		top: -1px;
		float: left;
		margin-top: 1.7em;
	}
	#blog-archives time {
		position: absolute;
		text-align: right;
		left: 0;
		top: 3em;
		font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
	}
	#blog-archives a.category {
		line-height: 1.1em;
	}
}
#content > .category article {
	margin-left: 0;
	padding-left: 6.8em;
}
#content > .category .year {
	display: inline;
}
.side-shadow-border,
aside.sidebar li,
aside.sidebar section h1 {
	-webkit-box-shadow: #fff 0 1px;
	-moz-box-shadow: #fff 0 1px;
	box-shadow: #fff 0 1px;
}
aside.sidebar {
	overflow: hidden;
	color: #4b4b4b;
	text-shadow: #fff 0 1px;
}
aside.sidebar section {
	font-size: 0.9em;
	line-height: 1.4em;
	margin-bottom: 0.5em;
}
aside.sidebar section h1 {
	margin: 0.5em 0 0;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #e0e0e0;
}
aside.sidebar section h1 + p {
	padding-top: 0.4em;
}
aside.sidebar img {
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	border-radius: 0.3em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.3em solid #fff;
}
aside.sidebar ul {
	margin-bottom: 0.5em;
	margin-left: 0;
}
aside.sidebar li {
	list-style: none;
	padding: 0.5em 0;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}
aside.sidebar li p:last-child {
	margin-bottom: 0;
}
aside.sidebar a {
	color: inherit;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
}
aside.sidebar:hover a {
	color: #222;
}
aside.sidebar:hover a:hover {
	color: #0181eb;
}
@media only screen and (min-width: 768px) {
	.toggle-sidebar {
		outline: 0;
		position: absolute;
		right: -10px;
		top: 0;
		bottom: 0;
		display: inline-block;
		text-decoration: none;
		color: #cecece;
		width: 9px;
		cursor: pointer;
	}
	.toggle-sidebar:hover {
		background: #e9e9e9;
		background: -webkit-gradient(
			linear,
			0 50%,
			100% 50%,
			color-stop(0, rgba(224, 224, 224, 0.5)),
			color-stop(100%, rgba(224, 224, 224, 0))
		);
		background: -webkit-linear-gradient(
			left,
			rgba(224, 224, 224, 0.5),
			rgba(224, 224, 224, 0)
		);
		background: -moz-linear-gradient(
			left,
			rgba(224, 224, 224, 0.5),
			rgba(224, 224, 224, 0)
		);
		background: -o-linear-gradient(
			left,
			rgba(224, 224, 224, 0.5),
			rgba(224, 224, 224, 0)
		);
		background: linear-gradient(
			left,
			rgba(224, 224, 224, 0.5),
			rgba(224, 224, 224, 0)
		);
	}
	.toggle-sidebar:after {
		position: absolute;
		right: -11px;
		top: 0;
		width: 20px;
		font-size: 1.2em;
		line-height: 1.1em;
		padding-bottom: 0.15em;
		-moz-border-radius-bottomright: 0.3em;
		-webkit-border-bottom-right-radius: 0.3em;
		border-bottom-right-radius: 0.3em;
		text-align: center;
		border-bottom: 1px solid #e0e0e0;
		border-right: 1px solid #e0e0e0;
		content: "\00BB";
		text-indent: -1px;
	}
	.collapse-sidebar .toggle-sidebar {
		text-indent: 0;
		right: -20px;
		width: 19px;
	}
	.collapse-sidebar .toggle-sidebar:hover {
		background: #e9e9e9;
	}
	.collapse-sidebar .toggle-sidebar:after {
		border-left: 1px solid #e0e0e0;
		text-shadow: #fff 0 1px;
		content: "\00AB";
		left: 0;
		right: 0;
		text-align: center;
		text-indent: 0;
		border: 0;
		border-right-width: 0;
		background: 0 0;
	}
}
body > footer {
	font-size: 1em;
	color: #888;
	text-shadow: #d9d9d9 0 1px;
	background-color: #ccc;
	background: -webkit-gradient(
		linear,
		50% 0,
		50% 100%,
		color-stop(0, #e0e0e0),
		color-stop(50%, #ccc),
		color-stop(100%, #b0b0b0)
	);
	background: -webkit-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: -moz-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: -o-linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	background: linear-gradient(#e0e0e0, #ccc, #b0b0b0);
	border-top: 1px solid #f2f2f2;
	position: relative;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 3em;
	-moz-border-radius-bottomleft: 0.4em;
	-webkit-border-bottom-left-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	-moz-border-radius-bottomright: 0.4em;
	-webkit-border-bottom-right-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
	z-index: 1;
}
body > footer a,
body > footer a:visited {
	color: #6b6b6b;
}
body > footer a:hover {
	color: #484848;
}
body > footer p:last-child {
	margin-bottom: 0;
}
table,
td,
th {
	border: 1px solid #000;
	padding: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
th {
	font-weight: 700;
	text-align: center;
}
.label {
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 80%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	vertical-align: baseline;
	border-radius: 0.25em;
	margin: 0 0.25em;
	background-color: #313131;
}
a.label:focus,
a.label:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.label:empty {
	display: none;
}
a.label:visited {
	color: #fff;
}
.post-date a.label,
.posts a.label {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.linenodiv {
	background-color: #002b36 !important;
}
pre span {
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New",
		monospace;
}
td.code {
	width: 95%;
}
div.codewrapper {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: #002b36;
}
div.entry-content > div.highlight {
	border-color: #002b36;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 0.4em;
}
div.entry-content > h1 {
	font-size: 1.7em;
}
div.entry-content > h2 {
	font-size: 1.5em;
}
div.entry-content > h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
	margin-top: 0.8em;
}
.sidebar {
	padding: 2rem 1rem;
	color: rgba(255, 255, 255, 0.5);
	background-color: #202020;
}
@media (min-width: 48em) {
	.sidebar-sticky {
		position: absolute;
		right: 1rem;
		bottom: 1rem;
		left: 1rem;
	}
}
.gist .gist-meta {
	font-size: 90% !important;
	border-radius: 0 0 2px 2px;
	border: 1px solid #a5a5a5 !important;
	background: top repeat-x #aaa !important;
	-moz-border-radius-bottomleft: 5px !important;
	-webkit-border-bottom-left-radius: 5px !important;
	border-bottom-left-radius: 5px !important;
	-moz-border-radius-bottomright: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.gist .blob-num {
	font-size: 0.938em !important;
}
.gist .blob-code-inner,
.gist .highlight {
	font-size: 0.938em !important;
	line-height: 1.25em !important;
}
.gist .pl-c1,
.gist .pl-s .pl-v {
	color: #719e07 !important;
}
.gist .gist-meta {
	background-color: #073642 !important;
	color: #93a1a1 !important;
}
.gist .gist-meta a {
	color: #268bd2 !important;
}
.gist .gist-data,
.gist .highlight {
	background-color: #002b36 !important;
	color: #93a1a1 !important;
}
.gist .blob-code-inner,
.gist .blob-num,
.gist .pl-s .pl-s1,
.gist .pl-smi {
	color: #93a1a1 !important;
}
.gist .pl-k {
	color: #719e07 !important;
}
.gist .pl-e,
.gist .pl-en {
	color: #cb4b16 !important;
}
.gist .pl-pds,
.gist .pl-s,
.gist .pl-s .pl-pse .pl-s1,
.gist .pl-sr,
.gist .pl-sr .pl-cce,
.gist .pl-sr .pl-sra,
.gist .pl-sr .pl-sre {
	color: #2aa198 !important;
}
.gist .blob-code-inner,
.gist .blob-num,
.gist .gist-data,
.gist .highlight,
.gist .pl-c,
.gist .pl-c1,
.gist .pl-e,
.gist .pl-en,
.gist .pl-k,
.gist .pl-pds,
.gist .pl-s,
.gist .pl-s .pl-pse .pl-s1,
.gist .pl-s .pl-s1,
.gist .pl-s .pl-v,
.gist .pl-smi,
.gist .pl-sr,
.gist .pl-sr .pl-cce,
.gist .pl-sr .pl-sra,
.gist .pl-sr .pl-sre {
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New",
		monospace !important;
}
figure figcaption {
	background: #fff;
	text-align: center;
	font-size: 1em;
	color: #666;
	display: block;
}
figure {
	color: #666;
}
figure a {
	color: #666;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
}
