<!-- Layout for individual pages -->

{{ partial "header.html" . }}

<div id="main">
	<div id="content">
		<div>
			<article class="hentry" role="article">
				<header>
					<h1 class="entry-title">
						{{ .Title }}
						<!-- we don't need page title to be a link on the actual page -->
					</h1>
					<script type="text/javascript" src="/cactus/cactus.js"></script>

					<link rel="stylesheet" href="/cactus/style.css" type="text/css" />
				</header>
				<div id="comment-section"></div>

				<script>
					initComments({
						node: document.getElementById("comment-section"),
						defaultHomeserverUrl: {{ .Site.Params.defaultHomeserverUrl }},
						serverName: {{ .Site.Params.serverName }},
						siteName: {{ .Site.Params.siteName }},
						commentSectionId: "section1",
					});
				</script>
			</article>
		</div>
		{{ partial "sidebar.html" . }}
	</div>
</div>

{{ partial "footer.html" . }}
